.prompt {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body[dir='ltr'] .prompt {
  left: 0;
}
body[dir='rtl'] .prompt {
  right: 0;
}
.promptCard {
  width: 95%;
  margin: 0;
  position: absolute;
  box-sizing: border-box;
}
body[dir='ltr'] .promptCard {
  left: 2.5%;
}
body[dir='rtl'] .promptCard {
  right: 2.5%;
}

.center {
  text-align: center;
}
